<!-- section main block -->
<div class="layout section">

    <!-- header -->
    <header>
        <h1 class="title-border">Events list</h1>
        <div class="btn-section">
            <a class="btn btn-success" ui-sref="eventCreate"><i class="glyphicon glyphicon-plus"></i> Create</a>
            <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-download"></i> Exports</a>
        </div>
    </header>
    <!-- /header -->

    <!-- table -->
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th><input ng-model="checkboxAllItem" ng-click="selectAllItem()" type="checkbox"></th>
                    <th><a href="#"><i class="glyphicon glyphicon-chevron-down"></i> Name</a></th>
                    <th><a href="#"><i class="glyphicon glyphicon-chevron-down"></i> Date start</a></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="events in itemData">
                    <td><input type="checkbox" ng-model="checkboxSelect" ng-click="selectItem($index)"></td>
                    <td><a ui-sref="eventEdit({id: events.id})">{{events.name}}</a></td>
                    <td>{{events.dateStart | limitTo: 10}}</td>
                    <td><button class="btn btn-danger" ng-click = "eventDelete($index)"><i class="glyphicon glyphicon-trash"></i> Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /table -->

    <!-- total -->
    <div class="total" ng-controller="PaginationCtrl">
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSizePage" items-per-page="itemPerPage" class="pagination"
                    previous-text="&laquo; Prev" next-text="Next &raquo;" first-text="1" last-text="{{numPages}}"
                    boundary-links="true" num-pages="numPages"></pagination>
    </div>
    <!-- /total -->

</div>
<!-- /section main block -->