<!-- section main block -->
<div class="layout section">

    <!-- header -->
    <header>
        <h1 class="title-border">Event create</h1>
        <div class="btn-section">
            <a class="btn btn-primary" ui-sref="events"><i class="glyphicon glyphicon-th-list"></i> List</a>
        </div>
    </header>
    <!-- /header -->

    <form class="form-horizontal" name="eventCreate" ng-controller="DatePickerCtrl">

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name *</label>
            <div class="col-sm-8">
                <input type="text" id="name" class="form-control" ng-model="itemsData.name" validator="required" valid-method="blur">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description *</label>
            <div class="col-sm-8">
                <textarea id="description" class="form-control" rows="3" ng-model="itemsData.description" validator="required" valid-method="blur"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="owner" class="col-sm-2 control-label">Owner *</label>
            <div class="col-sm-8">
                <input type="text" id="owner" class="form-control" ng-model="itemsData.owner" validator="required" valid-method="blur">
            </div>
        </div>
        <div class="form-group">
            <label for="date-start" class="col-sm-2 control-label">Date start</label>
            <div class="col-sm-8">
                <input type="text" id="date-start" datetime-picker="MM/dd/yyyy h:mma Z" is-open="isStartCalendarOpen" ng-click="openStartCalendar($event)" class="form-control" ng-model="itemsData.dateStart">
            </div>
        </div>
        <div class="form-group">
            <label for="date-end" class="col-sm-2 control-label">Date end</label>
            <div class="col-sm-8">
                <input type="text" id="date-end" datetime-picker="MM/dd/yyyy h:mma Z" is-open="isEndCalendarOpen" ng-click="openEndCalendar($event)" class="form-control" ng-model="itemsData.dateEnd">
            </div>
        </div>
        <div class="form-group" ng-controller="uploadCoverCtrl">
            <label for="cover" class="col-sm-2 control-label">Cover </label>
            <div class="col-sm-8">

                <div class="btn-group form-section" role="group">

                    <input type="text" id="cover" class="form-control form-control-cover" ng-model="itemsData.cover">

                    <div class="btn-file-group">

                        <button type="button" ng-show="coverFile[0] != null" class="btn btn-danger" ng-click="coverDelete()">
                            <i class="glyphicon glyphicon-trash"></i> delete
                        </button>

                        <button type="button" ng-hide="coverFile[0] != null" class="btn btn-success"><i class="glyphicon glyphicon-picture"></i> Add
                            <input type="file" ngf-select ng-model="coverFile" accept="image/*" value="">
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" ng-controller="locationCtrl">
            <label for="location" class="col-sm-2 control-label">Location *</label>
            <div class="col-sm-8">
                <input type="text" id="location" class="form-control" ng-model="itemsData.location" validator="required, gpsVal" valid-method="blur" ng-click="addLocation()">
            </div>
        </div>
        <div class="form-group">
            <label for="hashtags" class="col-sm-2 control-label">Hashtags </label>
            <div class="col-sm-8">
                <input type="text" id="hashtags" class="form-control" placeholder="Please, provide in following format: #hastag,#pearch" ng-model="itemsData.hashtags">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-success" validation-submit="eventCreate" ng-click="saveChange()"><i class="glyphicon glyphicon-saved"></i> Create</button>
            </div>
        </div>

    </form>

</div>
<!-- /section main block -->