<!-- section main block -->
<div class="layout section">

    <!-- header -->
    <header>
        <h1 class="title-border">Users list</h1>
        <div class="btn-section">
            <a class="btn btn-success" ui-sref="userCreate"><i class="glyphicon glyphicon-plus"></i> Create</a>
            <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-download"></i> Exports</a>
        </div>
    </header>
    <!-- /header -->

    <!-- table -->
    <div class="table-responsive" ng-controller="TableSortCtrl">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search" ng-model="tableSearch">
                </div>
            </div>
        </form>
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th><a ng-click="tableSort('id')">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="sortType === 'id' && sortReverse"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="sortType === 'id' && sortReverse"></i>
                    ID</a>
                </th>
                <th><a ng-click="tableSort('email')">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="sortType === 'email' && sortReverse"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="sortType === 'email' && sortReverse"></i>
                    Email</a>
                </th>
                <th><a ng-click="tableSort('name')">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="sortType === 'name' && sortReverse"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="sortType === 'name' && sortReverse"></i>
                    Name</a>
                </th>
                <th><a ng-click="tableSort('dateCreate')">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="sortType === 'dateCreate' && sortReverse"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="sortType === 'dateCreate' && sortReverse"></i>
                    Date created</a>
                </th>
                <th><a ng-click="tableSort('point')">
                    <i class="glyphicon glyphicon-chevron-down" ng-hide="sortType === 'point' && sortReverse"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-show="sortType === 'point' && sortReverse"></i>
                    Points</a>
                </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="users in itemData | orderBy:sortType:sortReverse | filter: tableSearch">
                    <td><input type="checkbox" ng-model="inputSelect"></td>
                    <td>{{users.id}}</td>
                    <td>{{users.email}}</td>
                    <td><a ui-sref="userEdit({id: users.id})">{{users.name}}</a></td>
                    <td>{{users.dateCreate | date: 'MM/dd/yyyy h:mma Z' | limitTo: 10}}</td>
                    <td>{{users.point}}</td>
                    <td><button class="btn btn-danger" ng-click = "userDelete(users)"><i class="glyphicon glyphicon-trash"></i> Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /table -->

    <!-- total -->
    <div class="total" ng-controller="PaginationCtrl">
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSizePage" items-per-page="itemPerPage" class="pagination"
                    previous-text="&laquo; Prev" next-text="Next &raquo;" first-text="1" last-text="{{numPages}}"
                    boundary-links="true" num-pages="numPages"></pagination>
    </div>
    <!-- /total -->

</div>
<!-- /section main block -->