<!-- section main block -->
<div class="layout section">

    <!-- header -->
    <header>
        <h1 class="title-border">Users list</h1>
        <div class="btn-section">
            <a class="btn btn-success" ui-sref="userCreate"><i class="glyphicon glyphicon-plus"></i> Create</a>
            <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-download"></i> Exports</a>
        </div>
    </header>
    <!-- /header -->

    <!-- table -->
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th><a href="#"><i class="glyphicon glyphicon-chevron-down"></i> ID</a></th>
                <th><a href="#"><i class="glyphicon glyphicon-chevron-down"></i> Email</a></th>
                <th><a href="#"><i class="glyphicon glyphicon-chevron-down"></i> Name</a></th>
                <th><a href="#"><i class="glyphicon glyphicon-chevron-down"></i> Date created</a></th>
                <th><a href="#"><i class="glyphicon glyphicon-chevron-down"></i> Points</a></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="users in itemData">
                    <td><input type="checkbox" ng-model="inputSelect"></td>
                    <td>{{users.id}}</td>
                    <td>{{users.email}}</td>
                    <td><a ui-sref="userEdit({id: users.id})">{{users.name}}</a></td>
                    <td>{{users.dateCreate | limitTo: 10}}</td>
                    <td>{{users.point}}</td>
                    <td><button class="btn btn-danger" ng-click = "userDelete($index)"><i class="glyphicon glyphicon-trash"></i> Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /table -->

    <!-- total -->
    <div class="total" ng-controller="PaginationCtrl">
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSizePage" items-per-page="itemPerPage" class="pagination"
                    previous-text="&laquo; Prev" next-text="Next &raquo;" first-text="1" last-text="{{numPages}}"
                    boundary-links="true" num-pages="numPages"></pagination>
    </div>
    <!-- /total -->

</div>
<!-- /section main block -->